.principalContainer{
    background-color: rgba(216, 216, 216, 0.329);
    padding: 20px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3); /* Más desplazamiento y desenfoque */
    
}
body {
    background-image: url('../assets/origami.png');
    background-size: cover;
    /* Hace que la imagen ocupe toda la pantalla */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: 500px 300px;
        /* Ancho x Alto específicos */
}